/* CSS Document */
.clear {
	zoom:1;
}
.clear:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.map-con {
	position:relative;
	width:666px;
	height:499px;
	overflow:hidden;
	z-index:10000;
}
.map-entity {
	position:absolute;
	top:0;
	left:0;
	width:1920px;
	height:1127px;
}
.map-entity img {
	position:absolute;
	top:0;
	left:0;
	z-index:-999;
}
.map-entity .icon {
	z-index:200;
	position:absolute;
	top:0;
	left:0;
}
.map-entity .point {
	position:absolute;
	width:50px;
	height:50px;
	z-index:100;
	cursor:pointer;
	font-family:Helvetica, sans-serif;
	text-align:center;
	color:#FFFFFF;
}
.map-entity .point .tips {
	position:absolute;
	overflow:hidden;
	width:180px;
	height:110px;
	left:-25px;
	top:-124px;
	padding:7px 5px 13px 5px;
	background:url(tip_hor.png) no-repeat 0 0;
	z-index:300;
	display:none;
}
.map-entity .point .tips img {
	position:relative;
	border:0;
}
.map-entity .point .heng {
	width:180px;
	height:110px;
	left:-25px;
	top:-124px;
	padding:7px 5px 13px 5px;
	background:url(tip_hor.png) no-repeat 0 0;
}
.map-entity .point .heng img {
	width:180px;
	height:110px;
}
.map-entity .point .shu {
	width:110px;
	height:180px;
	top:-124px;
	left:40px;
	padding:5px 7px 5px 13px;
	background:url(tip_ver.png) no-repeat 0 0;
}
.map-entity .point .shu img {
	width:110px;
	height:180px;
}
.map-entity .show {
	z-index:500;
}
.map-entity .show .show .tips {
	display:block;
}
#zaishou .point {
	background:url(icon-red.png) no-repeat center 0;
	line-height:32px;
	font-size:16px;
}
#jiangshou .point {
	background:url(icon-yellow.png) no-repeat center 0;
	line-height:28px;
	font-size:14px;
}
#chubei .point {
	background:url(icon-green.png) no-repeat center 0;
	line-height:24px;
	font-size:14px;
}
#shouqin .point {
	background:url(icon-gray.png) no-repeat 1px 0;
	line-height:20px;
	font-size:12px;
}
.map-view {
	width:1920px;
	height:1127px;
	cursor:move;
	background:url(#);
	position:relative;
}
.map-button {
	position:absolute;
	width:432px;
	height:40px;
	top:433px;
	left:20px;
	z-index:1000;
	background:url(button.png) no-repeat 0 0;
	display:none;
}
.map-button a {
	float:left;
	width:108px;
	height:40px;
}
.map-wheel {
	position:absolute;
	width:120px;
	height:80px;
	top:400px;
	right:20px;
	z-index:1000;
}
.map-wheel div {
	display:block;
	width:35px;
	height:35px;
	margin-right: 5px;
	margin-bottom: 5px;
	text-decoration:none;
	color:#000;
	line-height:40px;
	text-align:center;
	background: url("wheel.png") no-repeat 0 -999em;
	cursor: pointer;
}
.map-wheel .up {
	margin-left: 40px;
	background-position: 0 0;
}
.map-wheel .left {
	float: left;
	background-position: 0 -35px;
}
.map-wheel .down {
	float: left;
	background-position: 0 -70px;
}
.map-wheel .right {
	float: left;
	background-position: 0 -105px;
}
.map-select {
	position:absolute;
	top:40px;
	left:50px;
	z-index:1000;
	display:none;
	font-size:12px;
	color:#686868;
}
.map-select .select {
	width:185px;
	height:30px;
	background:url(bg-select.png) no-repeat 0 0;
	line-height:30px;
	padding-left:15px;
	cursor:pointer;
}
.map-select ul {
	width:188px;
	height:124px;
	padding-top:5px;
	background:url(bg-options.png) no-repeat 0 0;
	display:none;
}
.map-select .all {
	background-position:-188px 0;
}
.map-select .xingfu {
	background-position:-376px 0;
}
.map-select .guoji {
	background-position:-564px 0;
}
.map-select .gaoduan {
	background-position:-752px 0;
}
.map-select li {
	padding-top:1px;
}
.map-select a {
	display:block;
	height:30px;
	line-height:30px;
	padding-left:15px;
	color:#686868;
}
.map-select a:hover {
	color:#FFF;
}
.map-barList {
	position:absolute;
	left:0px;
	top:432px;
	z-index:1001;
	width:666px;
	height:67px;
	overflow:hidden;
	display:none;
}
.map-barList .bar-more {
	position:absolute;
	left:532px;
	top:19px;
	height:29px;
	width:100px;
	line-height:29px;
	font-size:12px;
	color:#686868;
	text-align:center;
}
.map-barList .barItem {
	height:67px;
	padding-left:255px;
}
.map-barList .bar-xingfu {
	background:url(bg-bar-xingfu.png) no-repeat 0 0;
}
.map-barList .bar-xingfu ul {
	padding-top:8px;
}
.map-barList .bar-xingfu li a:hover, .map-barList .bar-xingfu li a.current {
	background-color:#b00000;
}
.map-barList .bar-guoji {
	background:url(bg-bar-guoji.png) no-repeat 0 0;
}
.map-barList .bar-guoji ul {
	padding-top:8px;
}
.map-barList .bar-guoji li a:hover, .map-barList .bar-guoji li a.current {
	background-color:#002b6e;
}
.map-barList .bar-gaoduan {
	background:url(bg-bar-gaoduan.png) no-repeat 0 0;
}
.map-barList .bar-gaoduan ul {
	padding-top:20px;
}
.map-barList .bar-gaoduan li a:hover, .map-barList .bar-gaoduan li a.current {
	background-color:#b3642c;
}
.barItem .point-list {
	width:225px;
	height:48px;
}
.barItem .point-list li {
	float:left;
	width:75px;
	height:24px;
}
.barItem .point-list li a {
	display:block;
	width:60px;
	height:24px;
	color:#FFF;
	padding-left:5px;
	overflow:hidden;
	font-size:14px;
	line-height:24px;
	font-family:"微软雅黑";
}
